.alert-danger {
    padding: 20px;
    background-color: #f44336;
	color: white;
	margin-bottom: 20px;
}

.alert-success {
	padding: 20px;
    background-color: #00a300;
	color: white;
	margin-bottom: 20px;
}

.hidden {
	display: none;
}

.categories-list li span {
	font-size: 1.4em;
}